*{
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;500;700&display=swap');
}
/* =========================nav-logo==================== */

.nav-logo img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    fill: rgb(4, 162, 4);
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo h1 {
    color: greenyellow;
}

/* -==================nav-container===================== */
.nav-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/banner.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
}

/*================================== button================ */
button {
    background-color: #5b6abe;

    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 3px 3px 6px 4px #a7e6aa inset;
}
.Button {
    margin-left: 0;
    margin-top: 20px;
}
/* =============banner============== */
/* =============body content========================= */
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 500px;
    margin: 0 20px;

}

.body-container h1 {
    color: rgb(17, 247, 17);
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: sans-serif;
}

.body-container p {

    line-height: 1.5;
    font-family: sans-serif;
}

/* ================banner img============================== */
.left-content img {
    width: 600px;
    height: 400px;
}

.right-content {
    padding: 40px;
}

/* =================page 2=================== */
/* ============content===================== */
.content {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content h1 {
    color: rgb(17, 247, 17);
    padding-bottom: 40px;
}

.content p {
    font-family: sans-serif;
    line-height: 1.5;
}

/* =====================img section========================== */
.img-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-content img {
    width: 500px;
    height: 400px;
    margin-bottom: 40px;
}

/* ======================page-3=========================== */
/* ===============content============================ */
.page3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

/* ===============img-content======================== */
.left-img-content img {
    height: 300px;
    width: 400px;
    margin-bottom: 10px;

}

.left-img-content {
    display: inline;
    margin-bottom: 30px;
    padding: 30px;
}

.right-content-page3 {
    padding: 40px;
}

.right-content-page3 h1 {
    padding-bottom: 20px;
    color: rgb(17, 247, 17);
}

.right-content-page3 p {
    font-family: sans-serif;
    line-height: 1.5;
}

small {
    border-bottom: 2px solid rgb(17, 247, 17);
    font-weight: 600;
}
/* ======================footer================= */
.footer-container {
    background-image: linear-gradient(to top left, rgb(67, 108, 7), rgb(126, 175, 51));
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-container p {
    margin-right: 10px;

}

.social-logo {
    margin-right: 10px;
    cursor: pointer;
}

.social-logo:hover {
    fill: #fff;
}

.social-content {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}